---
---
/*
  Generated via Harmonizer: https://harmonizer.evilmartians.com/#rZI_T8MwFMS_y7FayG6SNngrZYSp3RCDk744Ea4dHCcDVb47SkXzB6SKAY93p9977-QzOvJN5SykYDDUkWkgX8-w6kSQiDgHQ-5s8KoJkClnyEvvTgqS3_M0jjYJH9_qau5UDWlbY3o2ouIfqHUyR4klice3UOtkiUoWW4l1-ndU-n9bPdzsSoiNmO8V_Ua9MZQtLfrfOa8MGJTVhiAjPpu3PWXkJy-de4fWf7SuamjyxSKw_Wz9zFxFfBjfUAiV1Q3keTzkxR3JQELVuQLDsfKUh8rZQYdEoQ_uUeN6zbdKHVkwZHrnjPPPlS4DJO6KopjUJ-XfB5Ffesv0JbUPygfI4ScNmX2t8oFXR-j7Lw
*/
:root {
  // FIRE
  --coral-300: oklch(0.88 0.08 30);
  --coral-400: oklch(0.8 0.14 30);
  --coral-650: oklch(0.73 0.17 30);
  --coral-800: oklch(0.63 0.14 30);
  --coral-900: oklch(0.51 0.12 30);
  // EARTH
  --amber-300: oklch(0.87 0.08 80);
  --amber-400: oklch(0.79 0.14 80);
  --amber-650: oklch(0.72 0.17 80);
  --amber-800: oklch(0.62 0.14 80);
  --amber-900: oklch(0.5 0.12 80);
  // WOOD
  --turquoise-300: oklch(0.86 0.08 180);
  --turquoise-400: oklch(0.77 0.14 180);
  --turquoise-650: oklch(0.69 0.17 180);
  --turquoise-800: oklch(0.59 0.14 180);
  --turquoise-900: oklch(0.48 0.12 180);
  // WATER
  --azure-300: oklch(0.86 0.08 230);
  --azure-400: oklch(0.78 0.14 230);
  --azure-650: oklch(0.7 0.17 230);
  --azure-800: oklch(0.6 0.14 230);
  --azure-900: oklch(0.49 0.12 230);
  // METAL
  --gray-150: oklch(0.95 0.0 0);
  --gray-300: oklch(0.8 0.0 0);
  --gray-400: oklch(0.65 0.0 0);
  --gray-650: oklch(0.5 0.0 0);
  --gray-800: oklch(0.35 0.0 0);
  --gray-900: oklch(0.2 0.0 0);
}

// colors
[data-dark="false"] {
  --primary: var(--azure-900); // #0795d9;
  --secondary: var(--turquoise-800); // #7dd3fc;
  --secondary-light: var(--turquoise-400);
  --text: #000000;
  --background: #ffffff;
  --background-alt: #fafafa;
  --light-gray: var(--gray-300);//#e0e0e0;
  --gray: var(--gray-650); // #808080;
  --dark-gray: var(--gray-800); // #404040;
  --overlay: #00000020;
}
[data-dark="true"] {
  --primary: var(--azure-300); // #0795d9;
  --secondary: var(--turquoise-400); // #075985;
  --secondary-light: var(--turquoise-800);
  --text: #ffffff;
  --background: #181818;
  --background-alt: #1c1c1c;
  --light-gray: var(--gray-650); // #404040;
  --gray: var(--gray-400); // #808080;
  --dark-gray: var(--gray-300); // #e0e0e0;
  --overlay: #ffffff20;
}

:root {
  // font families
  --title: "Brill", serif; // Linux Libertine or Gentium Book Plus could be alternatives
  --heading: "Brill", serif;
  --body: "Brill", serif;
  font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1; /* Chrome, Safari */
  -moz-font-feature-settings: "lnum" 1;    /* Firefox */
  --code: "Roboto Mono", monospace;

  // font sizes
  --small: 0.8rem;
  --large: 1.2rem;
  --xl: 1.4rem;
  --xxl: 2.0rem;

  // font weights
  --thin: 200;
  --regular: 400;
  --semi-bold: 500;
  --bold: 600;

  // text line spacing
  --spacing: 2;
  --compact: 1.5;

  // effects
  --rounded: 0.5rem;
  --shadow: 0 0 0 0 var(--overlay);
  --transition: 0.2s ease;
}
