---
---

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 100%;
  margin: 1rem 1rem;
}

.tag {
  max-width: 100%;
  margin: 0;
  margin-top: 0.25rem;
  padding: 0.1rem 0.5rem;
  border-radius: 1rem;
  font-size: var(--small);
  background: var(--secondary-light);
  color: var(--text);
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: background var(--transition), color var(--transition);
}

.tag:hover {
  background: var(--light-gray);
}

.tag[data-active] {
  background: var(--light-gray);
}
