{% if include.lookup %}
  {% assign member = site.members 
    | where_exp: "member", "member.slug == include.lookup"
    | first
  %}
{% else %}
  {% assign member = include %}
{% endif %}

{% assign type = site.data.types[member.role] %}

{% if member.group == 'core' %}
<div class="portrait-wrapper portrait-card">
  {% else %}
  <div class="portrait-wrapper portrait-slim">
  {% endif %}
  <span
    class="portrait"
    data-style="{{ include.style }}"
    aria-label="{{ member.name }}"
  >
    <!-- {% if type %}
      {% include icon.html icon=type.icon %}
    {% endif %} -->
    
    {% if member.group == 'core' %}
    <img
      src="{{ member.image | relative_url | uri_escape }}"
      class="portrait-image"
      alt="member portrait"
      loading="lazy"
      {% include fallback.html %}
    >
    {% endif %}


    <span class="portrait-group">
    {% if member.name %}
      <span class="portrait-name">
        {{ member.name }}
      </span>
    {% endif %}

    {% if member.description or type %}
      <span class="portrait-description">
        <i>{{ member.description | default: type.description }} {% if member.period %}({{ member.period }}){% endif %}</i>
      </span>
    {% endif %}

    {% if member.discipline %}
      <span class="portrait-affiliation">
        <i class="fa-solid fa-graduation-cap fa-fw icon-pad-right"></i> {{ member.discipline }}
      </span>
    {% endif %}

    {% if member.affiliation %}
      <span class="portrait-affiliation">
        <i class="fa-solid fa-school fa-fw icon-pad-right"></i> {{ member.affiliation }}
      </span>
    {% endif %}

    {% if member.group != 'alum' %}
    <span>{% for link in member.links %}
    {% assign key = link[0] %}
    {% assign value = link[1] %}
    {% if key == "home-page" %}
    <a href="{{value}}"><i class="fa-fw {{site.data.types[key].icon}} icon-pad-right"></i></a> 
    {% else %}
    <a href="{{site.data.types[key].link | replace: "$VALUE", value | relative_url}}"><i class="{{site.data.types[key].icon}} fa-fw icon-pad-right"></i></a> 
    {% endif %}
    {% endfor %}</span>
    {% endif %}
    </span>
  </span>

    {% if member.group == 'core' %}
    <span class="portrait-content" data-style="compact">{{ member.content | markdownify }}</span>
    {% endif %}
</div>